@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

:root {
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --dark-slate: #8892b042;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: rgb(100, 255, 218);
  --light-green: rgb(100, 255, 218, 0.25);
  --max-padding: 3rem;
  --med-padding: 2rem;
}

.green {
  color: var(--green);
}

.light-slate {
  color: var(--light-slate);
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;

  background-color: var(--navy);

  font-family: 'NTR', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: var(--slate);
}

ul,
ol {
  margin: 0;
  padding: 0;

  list-style: none;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

/* header */
header {
  position: sticky;
  top: 0;
  z-index: 1020;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  background-color: var(--navy);

  transition: all 300ms ease-in-out;
}

#nav-toggle {
  position: fixed;
  top: 5px;
  right: -5px;
}

header[aria-visible='false'],
#nav-toggle[aria-visible='false'] {
  top: -100%;
}

.box-shadow {
  box-shadow: 0 10px 30px -10px var(--navy-shadow);
}

.logo {
  width: 50px;
  height: 50px;
}

.logo-wrapper,
.nav-toggle {
  margin: 18px var(--max-padding);
}

/* menu button */
.nav-toggle {
  display: none;
  z-index: 1010;

  width: 40px;
  height: 40px;

  cursor: pointer;
}

.hamburger {
  position: relative;
  display: block;

  width: 30px;
}

.hamburger,
.hamburger::after,
.hamburger::before {
  height: 2px;
  border-radius: 10px;

  background-color: var(--green);

  transition: all 300ms ease-in-out;
}

.hamburger::after,
.hamburger::before {
  position: absolute;
  right: 0;
  content: '';

  transition: all 300ms ease-in-out;
}

.hamburger::before {
  top: -10px;

  width: 36px;
}

.hamburger::after {
  top: 10px;

  width: 24px;
}

/* navigation bar content */
.nav-bar {
  display: flex;
  align-items: center;
  gap: 2rem;

  padding: 1rem 2rem;

  color: var(--green);
}

#primary-navigation {
  display: flex;
  align-items: center;
  gap: 2rem;

  padding: 0;
  margin: 0;
}

.link,
#resume,
footer {
  letter-spacing: 1.5px;
}

.nav-bar a:hover,
#resume:hover {
  border-color: var(--lightest-slate);
  color: var(--lightest-slate);
}

#resume {
  padding: 10px 10px;
  border: 1px var(--green) solid;
  border-radius: 6px;

  cursor: pointer;
}

#resume:hover {
  background-color: var(--dark-slate);
}

/* main */
/* intro */
main {
  /* responsive */
  display: flex;
  flex-direction: column;

  padding: 0 22%;

  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

h2 {
  /* responsive */
  font-size: 40px;
  font-weight: 600;
  color: var(--lightest-slate);
}

section {
  margin-bottom: 100px;
}

main p,
main li {
  /* responsive */
  font-size: 22px;
}

.section-title {
  display: flex;
  align-items: center;

  margin-bottom: 36px;
}

.section-title::after {
  position: relative;
  content: '';

  width: 250px;
  height: 1px;
  margin-left: 20px;

  background-color: var(--lightest-navy);
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 80vh;
  margin: 0;
}

.intro-title {
  font-size: clamp(52px, 8vw, 80px);
}

.intro-name {
  font-weight: 800;
  color: var(--green);
}

.intro-subtitle {
  font-size: clamp(26px, 5vw, 50px);
}

.intro-desc {
  max-width: 550px;

  text-align: justify;
}

/* about me */
.about-portrait-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about p {
  margin: 0;

  text-align: justify;
}

.about-portrait-wrapper {
  margin-top: 26px;
}

.about-portrait {
  width: clamp(180px, 26vw, 250px);
  height: auto;
  border-radius: 4px;
}

.about-technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-technologies li {
  color: var(--lightest-slate);
}

/* projects */
.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding: 16px;
}

.card {
  margin: 5px;
  padding: 8px;
  border-radius: 6px;

  background-color: var(--light-navy);

  transition: all 300ms ease-in-out;
}

.card a {
  display: flex;
  align-items: stretch;

  height: 100%;
}

.card:hover,
.card:focus {
  transform: translateY(-8px);
}

.card:hover .project-title,
.card:focus .project-title {
  color: var(--green);
}

.project-icons {
  margin-bottom: 40px;
}

.folder {
  color: var(--green);
}

.project-title {
  font-size: 26px;
  font-weight: 700;
  color: var(--white);
}

.project-description {
  font-size: 18px;
  color: var(--light-slate);
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  margin-top: 6px;
  margin-bottom: 0;
}

.project-technologies li {
  font-size: 16px;
}

/* experience */
.hidden {
  display: none;
}

#experience {
  display: flex;
  flex-direction: column;
}

.tab {
  display: flex;
  align-items: center;

  width: 200px;
  height: 30px;
  padding: 24px 20px;
  border: none;

  background: none;

  color: var(--light-slate);

  transition: 0.2s ease-in-out;
}

.tab:active {
  background-color: var(--light-green);

  color: var(--green);
}

.tab[aria-selected='true'] {
  border-right: 2px var(--green) solid;

  color: var(--green);
}

.experience-content-container {
  margin-top: -10px;
  padding-left: 40px;

  font-size: 18px;
}

.experience-content p {
  margin: 0;
}

.experience-content[aria-selected='false'] {
  display: none;
}

.job-title,
.job-company {
  font-size: 28px;
}

.job-title {
  color: var(--lightest-slate);
}

.job-company {
  color: var(--green);
}

.job-description {
  max-width: 650px;
  padding-top: 18px;
  padding-bottom: 8px;
}

.job-description li {
  position: relative;

  padding-left: 30px;
  padding-bottom: 16px;

  font-size: 18px;
  color: var(--lightest-slate);
}

.job-description li::before {
  position: absolute;
  left: 0;
  content: '▹';

  color: var(--green);
}

/* footer */
footer {
  padding-bottom: 16px;
}

.left-bar {
  position: fixed;
  bottom: 0;
  left: var(--max-padding);
}

.social-media li,
.e-mail {
  position: relative;

  transition: all 150ms ease-in-out;
}

.social-media li:hover,
.social-media li:focus,
.e-mail:hover,
.e-mail:focus {
  color: var(--green);

  transform: translateY(-3px);
}

.social-media li:not(:last-child) {
  margin-bottom: 20px;
}

.line {
  width: 1px;
  height: 90px;
  margin: 20px auto 0 auto;

  background-color: var(--light-slate);
}

.right-bar {
  position: fixed;
  bottom: 0;
  right: var(--max-padding);

  text-align: center;
}

.right-bar a {
  writing-mode: vertical-rl;
}

@media (max-width: 876px) {
  main {
    /* responsive */
    padding: 0 14%;
  }

  .logo-wrapper,
  .nav-toggle {
    margin: 1rem var(--med-padding);
  }

  .left-bar {
    left: var(--med-padding);
  }

  .right-bar {
    right: var(--med-padding);
  }

  .section-title::after {
    width: 150px;
  }
  /* footer */
  footer {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 0 25px inherit 25px;
  }

  .left-bar,
  .right-bar {
    position: static;
  }

  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    padding: 0;
    margin: 0;
  }

  .social-media li:not(:last-child) {
    margin-bottom: 0;
  }

  .social-media li {
    padding: 4px;
  }

  .social-media li,
  .e-mail {
    position: static;
  }

  .social-media li:hover,
  .social-media li:focus,
  .e-mail:hover,
  .e-mail:focus {
    transform: none;
  }

  .line {
    display: none;
  }

  .right-bar a {
    writing-mode: horizontal-tb;
  }
}

@media (max-width: 700px) {
  /* navigation bar and toggle */
  .nav-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-bar {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 110%;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;

    background-color: var(--light-navy);
    box-shadow: -10px 0px 30px -15px var(--navy-shadow);

    transition: all 250ms ease-in-out;
  }

  .nav-bar[data-visible='true'] {
    left: 55%;
  }

  .nav-toggle {
    transition: all 250ms ease-in-out;
  }

  .nav-toggle[aria-expanded='true'] .hamburger {
    background-color: transparent;
  }

  .nav-toggle[aria-expanded='true'] .hamburger:before {
    top: 0;

    width: 30px;

    transform: rotate(-45deg);
  }

  .nav-toggle[aria-expanded='true'] .hamburger:after {
    top: 0;

    width: 30px;

    transform: rotate(45deg);
  }

  #primary-navigation {
    flex-direction: column;
    gap: 2rem;
  }

  /* main */
  /* intro */
  main {
    /* responsive */
    padding: 0 8%;
  }

  main[nav-visible='true'] {
    filter: blur(1px);
    -webkit-filter: blur(1px);
  }

  #intro {
    min-height: 50vh;

    text-align: center;
  }

  .intro-desc {
    margin: 0 auto;

    text-align: center;
  }

  main h2 {
    /* responsive */
    font-size: 28px;
  }

  .section-title::after {
    width: 80px;
  }

  main p,
  main li {
    /* responsive */
    font-size: 18px;
  }

  /* experience */
  .experience-container {
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch !important;
  }

  .experience-vertical-tab-container {
    width: 100%;
    margin-bottom: 30px;
  }

  .tab {
    width: 100%;
  }

  .experience-content-container {
    display: flex;
    justify-content: left;
    padding-top: 0;
    padding-left: 20px;
  }
}

@media (max-width: 400px) {
  .nav-bar[data-visible='true'] {
    left: 40%;
  }
}

button > * {
  pointer-events: none;
}
